<h1><%= @soup.name %></h1>

<% if @soup.featured? %>
	<p>This soup is featured</p>
<% else %>
	<p> NOT Feautured !!!!!</p>
<% end %>
<% if params[:admin] == "true" %>
	<p><%= link_to "Toggle Featured", toggle_featured_path(@soup) %></p>
<% end %>